html,
body {
  height: 100%;
}
.hm-gradient,
html {
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, #7696bc 99%, #6d8ddf 100%);
}
.navbar-brand{
  color: #9E9E9E;
  font-weight: 700;
}
.darken-grey-text {
  color: #2e2e2e;
}
.primary-text {
  color: #4384F3;
}
.output{
    background: #F7F7F9;
    border: none;
    outline: 0;
    width: 100%;
    padding: 2rem;
}