html,
body {
  height: 100%;
}
.hm-gradient,
html {
  background: #4384F3;
}
.navbar-brand{
  color: #9E9E9E;
  font-weight: 700;
}
.darken-grey-text {
  color: #2e2e2e;
}
.primary-text {
  color: #4384F3;
}
.output{
    background: #F7F7F9;
    border: none;
    outline: 0;
    width: 100%;
    padding: 2rem;
}
#markdown-output{
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;
}
.markdown-card{
    margin-bottom: 200px;
}